<table class="table table-striped">
	<tbody>
		<% @jobs.each do |job| %>
			<tr>
				<td class='badge_td'><span class="label label-info">new</span> </td>
				<td><%= link_to(job.title, :action => 'show', :id => job.id) %> <span class='muted'>&nbspat&nbsp</span> <%= job.company.name %> </td>
				<td><%= job.created_at.strftime("%d %b") %></td>
			</tr>
		<% end %>
	</tbody>
</table>