<p>
<small><a href='/'>← Back to all jobs</a></small>
<h2><%= @job.title %></h2>
<span class='muted'>at</span>
<%= link_to(@job.company.name, @job.company.webpage)%>
</p>

<hr/>

<p>
	<%= raw @job.description %>
</p>

<br/>

<div class='apply'>
	<p>
		<h4>Apply for this position</h4>
		<%= raw @job.apply_text %>
	</p>
</div>