<p class='lead'>
	Hi, great to see you on this page, so - you are wondering, how can I help to this project, it is easy - just think what you can contribute and get in touch, to make your choice a bit easier I came up with list of ideas, but if you did not find anything what is matching your soul - just <a href="mailto:a.kulbei@gmail.com">drop me a line</a>
</p>

<p class='lead'>You are designer, and wanna help with writing lovely and clean CSS/HTML or maybe you just want to create a brand - that would be awesome</p>
	<p class='lead'>Hm....looks like you are a programmer and willing to write few feature, we will not pay you but your name will stay with us forever : )</p>
	<p class='lead'>Now I see, I guess you are interesting in social media, marketing, PR, and growth? Then maybe you can try your skills, and will bring start-up jobs board to the whole Poland, challenge accepted?</p>
	<p class='lead'>Hm...wanna pay for better and faster hosting plan? Why now, we are keeping the costs as low as possible, but it might save few thouthands of neuronal cells to our users, it is always annoying when web page is slow to load - is not it</p>
	<p class='lead'>Wanna give an advice? Tell us, what should we do next? How to get startups posts their offer, have an idea in mind? Get in touch, get in touch, get in touch!</p>
	<p class='lead'>Just passing by? Tell your friends about startup world and our web page</p>