<small><a href='/'>← Back to all jobs</a></small>
<div class='page-header'>
	<h1>Add new position</h1>
</div>

<p>
	Krakow start-up job board is open and free for everyone. If you are hiring and whould like to add new
	position - please send email to <a href='mailto:a.kulbei@gmail.com?subject=New job position'>a.kulbei@gmail.com</a> with next information:

	<ul>
		<li>Company name</li>
		<li>Link to your web-site</li>
		<li>Contact email address</li>
		<li>Position description</li>
		<li>How to apply</li>
	</ul>

</p>